@import url(styles/header.css);

:root{
    --cor-de-fundo: #EBECEE;
   --branco: #ffffff;
   --amarelo: #fecd2f;
   --roxo-degrade: linear-gradient(94.49deg,  #733887 35.48%,  #C75EEB 143.32%);
   --preto: #000000;
   --fonte-principal: "Poppins";
   --fonte-secundaria: "Josefin Sans";

}


body{
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size:16px;
    font-weight: 400;
}

