@import url(styles/header.css);

:root{
    --cor-de-fundo: #EBECEE;
   --branco: #ffffff;
   --amarelo: #fecd2f;
   --roxo-degrade:linear-gradient(94.49deg;#733887;#c75eeb 143.32%)

}

body{
    background-color: var(--cor-de-fundo);
}

h1{
    background-color: white;
}