.cabecalho__menu {
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;

}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;

}

.container {
    display: flex;
    align-items: center;

}

.container__imagem {
    padding: 1em;

}

.lista__menu{
    display: none;
}

.container__botao:checked~.lista__menu{
display: block;

}